{% extends 'base.html.twig' %}

{% block title %}stage | Fil d'actualité{% endblock %}

{% block container %}

    <div id="message-show">

        {% for message in messages %}
            <div>
                <p><b><font color="#041E19">{{ message.user.username}}</b></p>
                <p><font color="#06594B">{{ message.libelle}}</p>

                {% if app.user.id == message.user.id %}
                    <p>
                        <a href="{{ path('message_edit', {'id': message.id}) }}"> Editer</a>
                        <a href="{{ path('message_delete', {'id': message.id}) }}"> Supprimer <br /> <br /> </a>
                    </p>
                    {% else %}
                        <a href="{{ path('message_like', {'messageId': message.id}) }}"> Aimer ({{ message.messageLikes | length }})</a>
                        <a href="{{ path('message_redif', {'messageId': message.id}) }}"> Rediffuser ({{ message.messageRedifs | length }})<br /> <br /><br /></a>
                {% endif %}


            </div>
        {% endfor %}

    </div>

{% endblock %}